<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

<%= render 'layouts/next' %>



	 
 

<%= image_tag '0.jpg', :class => "img" %>

 <a class="css3button" href="http://www.superbreak.com/london.htm">Visit London - United Kingdom</a>

<audio>


 <%= audio_tag "rain.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>

