
<%= render 'layouts/next' %>



	 
 

<%= image_tag '1.jpg', :class => "img" %>
<a class="css3button" href= "http://www.tripadvisor.co.uk/Vacation_Packages-g293832-Sierra_Leone-Vacations.html">Visit Sierra Leone - Africa</a>

<audio>


 <%= audio_tag "chimp.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>

