

<%= render 'layouts/next' %>



	 
 

<%= image_tag '4.jpg', :class => "img" %>
<a class="css3button" href="http://www.virginholidays.co.uk/destinations/caribbean/bahamas-holidays">Visit The Bahamas - Bahamas</a>

<audio>


 <%= audio_tag "fish.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>






