

<%= render 'layouts/next' %>



	 
 

<%= image_tag '5.jpg', :class => "img" %>
<a class="css3button" href="http://www.virginholidays.co.uk/destinations/usa/hawaii-holidays">Visit Hawaii - USA</a>

<audio>


 <%= audio_tag "hawaii.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>






