

<%= render 'layouts/next' %>



	 
 

<%= image_tag '6.jpg', :class => "img" %>
<a class="css3button" href="http://www.tripadvisor.co.uk/Tourism-g504150-Burton_upon_Trent_Staffordshire_England-Vacations.html">Visit Burton upon Trent - United Kingdom</a>
<audio>


 <%= audio_tag "horse.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>






