

<%= render 'layouts/next' %>



	 
 

<%= image_tag '7.jpg', :class => "img" %>
<a class="css3button" href="http://www.virginholidays.co.uk/destinations/usa/new-york-holidays">Visit New York - USA</a>

<audio>


 <%= audio_tag "nyc.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>






