<%= render 'layouts/header' %>

<div class="main">
<div id="setup" class="box">
<h1> Welcome to Happy Places </h1>
<p> To get started click the holidays tab </p>	
</div>

<div id="info" class="box">
<h1> Welcome to Happy Places </h1>
<p> To get started click the holidays tab </p>	
</div>
