
<%= render 'layouts/header' %>
<%= render 'layouts/next' %>



	 
 

<%= image_tag '0.jpg', :class => "img" %>
<button type="button" name="" value="" class="css3button"><a href="http://www.superbreak.com/london.htm">Visit London - United Kingdom</button></a>

<audio>


 <%= audio_tag "rain.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>

