
<%= render 'layouts/boo' %>
<%= render 'layouts/next' %>



	 
 

<%= image_tag '0.jpg', :class => "img" %>

<p class=hol> <a class="css3button" href="http://www.superbreak.com/london.htm">Visit London - United Kingdom</a></p>

<audio>


 <%= audio_tag "rain.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>

