
<%= render 'layouts/header' %>
<%= render 'layouts/next' %>



	 
 

<%= image_tag '2.jpg', :class => "img" %>
<button type="button" name="" value="" class="css3button"><a href="http://www.virginholidays.co.uk/destinations/canada/niagara-falls-holidays">Visit Niagara Falls - USA</button></a>

<audio>


 <%= audio_tag "rain.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>







