
<%= render 'layouts/boo' %>
<%= render 'layouts/next' %>



	 
 

<%= image_tag '2.jpg', :class => "img" %>
<p class=hol><a class="css3button" href="http://www.virginholidays.co.uk/destinations/canada/niagara-falls-holidays">Visit Niagara Falls - USA</a>
</p>
<audio>


 <%= audio_tag "rain.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>







