
<%= render 'layouts/header' %>
<%= render 'layouts/next' %>



	 
 

<%= image_tag '3.jpg', :class => "img" %>
<button type="button" name="" value="" class="css3button"><a href="http://www.virginholidays.co.uk/destinations/africa/tanzania-holidays">Visit Tanzania - Africa</button></a>

<audio>


 <%= audio_tag "lion.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>







