
<%= render 'layouts/boo' %>
<%= render 'layouts/next' %>



	 
 

<%= image_tag '3.jpg', :class => "img" %>
<p class=hol><a class="css3button" href="http://www.virginholidays.co.uk/destinations/africa/tanzania-holidays">Visit Tanzania - Africa</a></p>

<audio>


 <%= audio_tag "lion.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>







