
<%= render 'layouts/header' %>
<%= render 'layouts/next' %>



	 
 

<%= image_tag '5.jpg', :class => "img" %>
<button type="button" name="" value="" class="css3button"><a href="http://www.virginholidays.co.uk/destinations/usa/hawaii-holidays">Visit Hawaii - USA</button></a>

<audio>


 <%= audio_tag "hawaii.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>






