
<%= render 'layouts/header' %>
<%= render 'layouts/next' %>



	 
 

<%= image_tag '7.jpg', :class => "img" %>
<button type="button" name="" value="" class="css3button"><a href="http://www.virginholidays.co.uk/destinations/usa/new-york-holidays">Visit New York - USA</button></a>

<audio>


 <%= audio_tag "nyc.mp3", controls: true, autoplay: true, loop: true, preload:true  %>

</audio>






