<ul id="nav">
	<li><%= link_to "Home", home_path, class: "nav" %></li>
	<li><%= link_to "About Us", about_path, class: "nav" %></li>
	<li><%= link_to "Holidays", holidays_path, class: "nav" %></li>
	<li><%= link_to "Contact Us", contact_path, class: "nav" %></li>
	</ul>
