<!DOCTYPE html>
<html>
<head>
  <title>Happy Places</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script>
function rndnumber(current)
{

  var next;
  while (next===undefined || next == current)
  {
	next=Math.floor(Math.random()*(13));
  }
	console.log(current,next)
  return next;
}

document.querySelector ("#next a").onclick= function() {
  var  currentPath = window.location.pathname;
  var current = currentPath.replace ("/","")
		
	window.location=rndnumber(current);	
	return false ;
}
</script>
</body>
</html>
